.ejo-social-links {}

    .ejo-social-links tr {
        width: 100%;
    }

    .ejo-social-links tr.ui-sortable-helper {
        background-color: #f5f5f5;
        display: table;
    }

        .ejo-social-links .move-item {
            cursor: move;
            display: block;
        }

        .ejo-social-links .move-item:before {
            cursor: move;
            margin-right: 10px;
        }